/* Resets */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/* Global Stylings*/

:root {
  --light-color-text: white;
  --dark-color-text: #4f4f4f;

  /* Dark mode styling */
  --darkest-grey: #0f1316; /* Fra dark-mode - filtrerings piller*/
  --darker-grey: #222629; /* Fra dark-mode - baggrund*/
  --dark-grey: #787878;
  --medium-grey: #909090;
  --light-grey: #d9d9d9;
  --red: #7b1919;
  --yellow: #907526;
  --green: #366c5e;
  --seafoam-green: #7eb4be;

  --light-mode-dark-text: #393939;

  --light-mode-dark-grey: #a9a9ae;
  --light-mode-grey: #c7cdd1;
  --light-mode-light-grey: #f5f5f5;

  --light-mode-red: #e17e7e;
  --light-mode-yellow: #dcb851;
  --light-mode-green: #5cd393;
  --light-mode-dark-seafoam: #2d3b45;
  --light-mode-seafoam: #7bb5c1;
  --boxshadow: 0 2px 5px rgb(0 0 0 / 30%);
}

html {
  color: var(--light-mode-dark-seafoam);
}

table {
  border-collapse: collapse;
}

td {
  border-top: 2px solid var(--light-mode-dark-grey);
  border-bottom: 2px solid var(--light-mode-dark-grey);
}

#flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#breadcrumb-nav-mobile {
  display: none;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1vh 2vw;
  overflow-x: hidden;
}

#pop-up-confirmation {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

#header {
  margin-bottom: 5vh;
}

h1 {
  margin-bottom: 1vh;
}

h2 {
  margin-bottom: 1vh;
  color: var(--light-mode-seafoam);
}

#nav-content {
  display: flex;
  width: 100vw;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  width: 70%;
}

#booking-nav-desktop {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-right: 3%;
}

.nav-item {
  display: flex;
  flex-direction: row;
}

.nav-item a {
  text-decoration: none;
  color: var(--light-mode-seafoam);
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item div {
  color: var(--light-color-text);
  padding-bottom: 1vh;
}

.active div,
.active a {
  color: var(--light-mode-dark-seafoam);
}

input {
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.date {
  cursor: pointer;
}

.activeDate {
  background-color: var(--light-mode-seafoam) !important;
}

/* Login Styling */

#login-form {
  display: flex;
  flex-direction: column;
}

.login--box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-mode-grey);
  border-radius: 15px;
  font-weight: 200;
  height: 50%;
  width: 40%;
  box-shadow: var(--boxshadow);
}

.login--box input {
  border-radius: 15px;
  height: 2vh;
  border: none;
  padding: 1vh;
}

#login-email {
  margin-bottom: 3vh;
  width: 10vw;
}

#login-password {
  width: 10vw;
}

#login-submit {
  margin-top: 2vh;
  width: 10vw;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--light-mode-seafoam);
  cursor: pointer;
}

.login--box p {
  height: 2.5vh;
  padding-bottom: 0.5vh;
  font-weight: bold;
}

/* Mine Tider Styling*/
#my-bookings {
  width: 80%;
}

#my-bookings hr:nth-child(2) {
  margin-top: 0.5vh;
  margin-bottom: 1.5vh;
}

#my-bookings hr:nth-child(n + 3),
.divider {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#booking-headers {
  display: flex;
  color: var(--light-mode-seafoam);
}

.date-time-location {
  display: flex;
  margin-bottom: 1.5vh;
  justify-content: space-between;
}

#bookings {
  overflow-y: scroll;
}

.booking {
  display: flex;
  height: 7vh;
}

.booking-details {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2em;
  width: 70%;
}

.organizer input {
  font-weight: bold;
  font-size: 1em;
}

.update-delete-booking {
  display: flex;
  align-items: center;
}

.update-delete-booking input {
  padding: 10px;
  width: 5em;
  margin: 5px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

#bookings input {
  border: none;
  cursor: text;
  font-size: 1em;
}

#booking-headers {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.time-flex,
.room-flex {
  display: flex;
  align-items: center;
}
.booking_date {
  width: 8em;
}

#bookings .room-flex input {
  width: 1.5em;
  text-align: center;
}
#bookings .time-flex input {
  width: 4em;
  text-align: center;
}

.end_time {
  margin-right: 1vw;
}

.booking_id {
  display: none;
}

.update-submit,
.delete-submit {
  cursor: pointer !important;
}

.update-submit {
  background-color: var(--light-mode-seafoam);
}

.delete-submit {
  background-color: var(--light-mode-red);
}

/* Book lokale styling */
#time-container {
  width: 35%;
  margin-left: 3%;
}

#time-container label,
#chosen-date-map label {
  margin-right: 1vw;
  width: 3vw;
}
.time-picker-flex {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.2em;
}

select {
  padding: 5px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: var(--light-grey);
  font-size: 1em;
}
#submit-button {
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 1.2em;
}
.button-activated {
  background-color: var(--light-mode-green);
}
.button-activated:hover {
  cursor: pointer;
  opacity: 0.6;
}
.button-deactivated {
  background-color: var(--light-mode-grey);
  color: var(--light-mode-dark-grey);
}

/* Room availability styling */

#chosen-date-map {
  width: 40%;
}

#room-info-availability {
  background-color: var(--light-mode-light-grey);
  border-radius: 30px;
  padding: 5px;
  width: 40%;
}

#room-info {
  padding: 10px;
}

#room-info p:first-of-type,
#room-info p:last-of-type {
  margin-bottom: 5vh;
}

#availability-calendar-section {
  width: 30vw;
  overflow-y: scroll;
  height: 80vh;
  overflow-x: hidden;
  border-radius: 20px;
  border: 2px solid var(--light-mode-dark-grey);
}

#availability-calendar-section table {
  height: 80vh;
  width: 30vw;
}

#availability-calendar-section tbody {
  overflow: scroll;
}

#availability-calendar-head {
  vertical-align: middle;
  text-align: center;
  height: 7vh;
}

#availability-head {
  height: 8vh !important;
}

.availability-time {
  background-color: var(--light-mode-grey);
  width: 30%;
  text-align: center;
}

#availability-calendar-section tr {
  height: 5vh;
  width: 100%;
}

#availability-calendar-section th {
  position: absolute;
  width: 28vw;
  background-color: var(--light-mode-light-grey);
  height: 8vh;
  border-radius: 20px 0 0 0;
  border-bottom: 2px solid var(--light-mode-dark-grey);
}

#update-time-submit,
#book-selected-room {
  border-radius: 15px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  min-width: 110px;
}

#chosen-date-map {
  margin-left: 2vw;
}

#chosen-date-map article {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-between;
  align-items: center;
}

#chosen-date-map h2 input {
  font-size: 1.5em;
  color: var(--light-mode-seafoam);
}

#pop-up-confirmation {
  margin: -1vh -2vw;
  justify-content: center;
  align-items: center;
}
#centerPopUp {
  background-color: var(--light-mode-light-grey);
  border-radius: 15px;
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#pop-up-header img {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
#pop-up-confirmation h2 {
  margin-top: 2em;
}
#pop-up-confirmation input {
  font-size: 1.2em;
  background-color: var(--light-mode-light-grey);
}
#pop-up-confirmation #booking-description-input {
  background-color: var(--light-grey);
  padding: 5px;
}
#timeIntervalFlex {
  display: flex;
}
#pop-up-room-var {
  width: 1em;
}
#pop-up-room-number {
  width: 2em;
}
#pop-up-confirmation #pop-up-submit {
  background-color: var(--light-mode-green);
  padding: 10px;
  border: none;
  border-radius: 15px;
  margin-top: 2em;
}
#pop-up-confirmation #pop-up-submit:hover {
  opacity: 0.6;
}
