/* Resets */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/* Global Stylings*/

:root {
  --light-color-text: white;
  --dark-color-text: #4f4f4f;

  /* Dark mode styling */
  --darkest-grey: #0f1316; /* Fra dark-mode - filtrerings piller*/
  --darker-grey: #222629; /* Fra dark-mode - baggrund*/
  --dark-grey: #787878;
  --medium-grey: #909090;
  --light-grey: #d9d9d9;
  --red: #7b1919;
  --yellow: #907526;
  --green: #366c5e;
  --seafoam-green: #7eb4be;

  --light-mode-dark-text: #393939;

  --light-mode-dark-grey: #a9a9ae;
  --light-mode-grey: #c7cdd1;
  --light-mode-light-grey: #f5f5f5;

  --light-mode-red: #e17e7e;
  --light-mode-yellow: #dcb851;
  --light-mode-green: #5cd393;
  --light-mode-dark-seafoam: #2d3b45;
  --light-mode-seafoam: #7bb5c1;
  --boxshadow: 0 2px 5px rgb(0 0 0 / 30%);
}

html {
  color: var(--light-mode-dark-seafoam);
}

table,
th,
td {
  border: 0.5vh solid white;
  border-collapse: collapse;
}

table,
th,
td {
  border-radius: 15px;
}

#flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#breadcrumb-nav-mobile {
  display: none;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1vh 2vw;
  overflow-x: hidden;
}

#header {
  margin-bottom: 5vh;
}

h1 {
  margin-bottom: 1vh;
}

h2 {
  margin-bottom: 1vh;
  color: var(--light-mode-seafoam);
}

#nav-content {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 86vw;
}

.row-reverse {
  flex-direction: row-reverse;
}

#booking-nav-desktop {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.nav-item {
  display: flex;
  flex-direction: row;
}

.nav-item a {
  text-decoration: none;
  color: var(--light-mode-dark-seafoam);
}

.nav-item a:hover {
  color: var(--light-mode-seafoam);
}

.nav-item div {
  color: var(--light-color-text);
  padding-bottom: 1vh;
}

.active div,
.active a {
  color: var(--light-mode-seafoam);
}

input {
  height: 7vh;
  width: 9vh;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.date {
  cursor: pointer;
}

.activeDate {
  background-color: var(--light-mode-seafoam) !important;
}

/* Login Styling */

#login-form {
  display: flex;
  flex-direction: column;
}

.login--box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-mode-grey);
  border-radius: 15px;
  font-weight: 200;
  height: 50%;
  width: 40%;
  box-shadow: var(--boxshadow);
}

.login--box input {
  border-radius: 15px;
  height: 2vh;
  border: none;
  padding: 1vh;
}

#login-email {
  margin-bottom: 3vh;
  width: 10vw;
}

#login-password{
  width: 10vw;
}

#login-submit {
  margin-top: 2vh;
  width: 10vw;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--light-mode-seafoam);
  cursor: pointer;
}

.login--box p {
  height: 2.5vh;
  padding-bottom: 0.5vh;
  font-weight: bold;
}

/* Mine Tider Styling*/
#my-bookings hr:nth-child(2) {
  margin-top: 0.5vh;
  margin-bottom: 1.5vh;
}

#my-bookings hr:nth-child(n + 3),
.divider {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/*#calendar {
    height: 75vh;
    width: 40vw;
    background-color: var(--light-mode-dark-grey);
} */

#booking-headers {
  display: flex;
  color: var(--light-mode-seafoam);
}

#booking-headers h3,
.date-time-location p {
  width: 5vw;
}

#booking-headers h3:nth-child(2),
.date-time-location p:nth-child(2) {
  width: 7vw;
}

.date-time-location {
  display: flex;
  margin-bottom: 1.5vh;
}

#bookings {
  overflow-y: scroll;
  width: 40vw;
}

.booking {
  display: flex;
  height: 7vh;
}

.booking-details {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.organizer {
  font-weight: bold;
}

.update-delete-booking {
  flex-grow: 1;
}

.update-delete-booking input {
  height: 7vh;
  width: 7vh;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

#update-submit {
  background-color: var(--light-mode-seafoam);
}

#delete-submit {
  background-color: var(--light-mode-red);
}

/* Book lokale styling */
#time-container {
  width: 40vw;
}

#time-container form {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 12vw;
}

#time-container label {
  margin-right: 1vw;
  width: 3vw;
  margin-bottom: 3vh;
}

select {
  height: 5vh;
  width: 7vh;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: var(--light-grey);
}
#submit-button {
  width: 40%;
  padding: 10px;
  background-color: var(--light-mode-green);
  border: none;
  border-radius: 15px;

}

/* Room availability styling */

#chosen-date-map {
  width: 30vw;
}

#room-info {
  width: 20vw;
}

#room-info p:first-of-type,
#room-info p:last-of-type {
  margin-bottom: 5vh;
}

#availability-calendar-section {
  width: 30vw;
  overflow-y: scroll;
  height: 80vh;
  overflow-x: hidden;
}

#availability-calendar-section table {
  height: 80vh;
  width: 30vw;
  background-color: var(--light-mode-grey);
}

#availability-calendar-section tbody {
  overflow: scroll;
}

#availability-calendar-head {
  vertical-align: middle;
  text-align: center;
  height: 7vh;
}

#availability-head {
  height: 8vh !important;
}

.availability-time {
  background-color: var(--light-mode-grey);
  width: 30%;
  text-align: center;
}

#availability-calendar-section tr {
  height: 5vh;
  width: 100%;
}

#availability-calendar-section th {
  position: absolute;
  width: 28vw;
  background-color: var(--light-mode-dark-grey);
  height: 7vh;
}

#update-time-submit,
#book-selected-room {
  border-radius: 15px;
  background-color: var(--light-mode-green);
  width: 5vw;
}

#chosen-date-map article {
  display: flex;
}

#chosen-date-map h2 {
  margin-right: 2vw;
}
